* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(65, 65, 65);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.app-container {
  width: 100%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

.autocomplete-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .autocomplete-contain {
    list-style: none;
    input {
      border: none;
      width: 300px;
      height: 40px;
      border-radius: 8px;
      background-color: rgba(161, 62, 62, 0.068);
    }
    .autocomplete-contain__list {
      text-align: center;
    }
    .autocomplete-contain__item {
      cursor: pointer;
    }
    .homepage-wrapper {
      cursor: pointer;
      font-size: 0.9rem;
    }
  }
  .search-cart {
    display: flex;
    .cart-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .logo-brand {
    display: flex;
    img {
      cursor: pointer;
      width: 60px;
      height: 70px;
      margin-right: 1rem;
    }
    h1 {
      background-image: linear-gradient(
        221deg,
        #8743ff,
        #4136f1 60%
      ) !important;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.hits-wrapper {
  margin: 5rem auto;
  width: 100%;
  .title-carousel {
    margin-left: 10rem;
    background-image: linear-gradient(221deg, #8743ff, #4136f1 60%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hits-list {
    list-style: none;
    margin: 0 auto;
    display: grid;
    align-items: stretch;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    .hit-list {
      display: flex;
      flex-direction: column;
      border: #f2f2f2 solid 1px;
      margin: 0.2rem;
      padding: 1rem;
      cursor: pointer;
      border: 1px solid #f2f2f2;
      background-color: #fff;
      .image-wrapper {
        text-align: center;
        img {
          max-width: 200px;
        }
      }
      .infos {
        h3 {
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .button {
          display: flex;
          justify-content: center;
          .button-buy-me {
            background-color: rgb(207, 200, 200);
            color: grey;
            border: none;
            padding: 1rem;
            transition: 0.5s;
            cursor: pointer;
            border-radius: 2px;
            &:hover {
              background-color: grey;
              color: white;
              transition: 0.5s;
            }
          }
        }
      }
      .button-show-more {
        background-color: rgb(207, 200, 200);
        color: grey;
        border: none;
        padding: 1rem;
        transition: 0.5s;
        cursor: pointer;
        border-radius: 2px;
        &:hover {
          background-color: grey;
          color: white;
          transition: 0.5s;
        }
      }
    }
  }
  .cards {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    h2 {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .hit-list {
      list-style: none;
      cursor: pointer;
    }
  }
}
// Hits Card$*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #171717;
}

:root {
  --secondary: linear-gradient(221deg, #8743ff, #4136f1 60%);
  --tertiary: linear-gradient(221deg, #43ff62, #a0f136 60%);
  --body: #eaf2ff;
  --card: #fff;
  --text: #000;
  --price: #4136f1;
}
body {
  background: var(--body);
  transition: background 0.3s;
  gap: 20px;
  &.dark {
    --body: #171717;
    --text: #fff;
    --card: #0d0d0d;
  }
}
.theme-toggle {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: var(--secondary);
  transition: background 0.3s;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}
.card {
  height: 240px;
  width: 180px;
  background: var(--card);
  border-radius: 20px;
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  color: var(--text);
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s, background 0.3s;
  &:hover {
    transform: scale(1.09);
  }
  & img {
    width: 160px;
    height: 120px;
    border-radius: 14px;
    object-fit: contain;
  }
  &__title {
    color: var(--text);
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
    transition: color 0.3s;
    .ais-Highlight-highlighted {
      background-image: linear-gradient(
        221deg,
        #8743ff,
        #4136f1 60%
      ) !important;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__description {
    margin-top: 5px;
    display: block;
    font-size: 15px;
    opacity: 0.6;
    transition: color 0.3s;
  }
  &__shop {
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__price {
      color: var(--price);
    }
    &__action {
      height: 40px;
      width: 40px;
      outline: none;
      border: none;
      background: var(--secondary);
      border-radius: 12px;
      cursor: pointer;
      margin-top: auto;
      & span {
        color: #fff;
        font-size: 26px;
      }
    }
  }
}
.card__shop__bought{
  background: var(--tertiary);
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: auto;
}

.ais-Pagination {
  .ais-Pagination-list {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        border: 1px solid grey;
        padding: 0.8rem;
        color: grey;
        margin: 0 0.5rem;
        border-radius: 8px;
      }
      span {
        text-decoration: none;
        border: 1px solid grey;
        padding: 0.8rem;
        color: grey;
        margin: 0 0.5rem;
        border-radius: 8px;
      }
    }
  }
}

.remove {
  display: none;
}

.display {
  display: block;
}

// Modal cart css
.modal-content {
  width: 75vw;
  height: 75vh;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  margin: 0rem auto;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .searchBox-wrapper {
    form {
      width: 90%;
    }
  }
  .modal-content__titles-cross {
    display: flex;
    justify-content: center;
    text-align: center;
    .cross-close {
      position: absolute;
      right: 2rem;
      top: 2rem;
      cursor: pointer;
      font-size: 18px;
    }
  }
}

.hits-list-modal {
  flex-wrap: nowrap;
  display: -webkit-box;
  overflow-x: scroll;
  padding: 1 rem 0 rem;
  list-style-type: none;
  display: flex !important;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  .button-pay {
    background: none;
    border: 1px grey solid;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background: grey;
      color: white;
      transition: 0.5s;
    }
  }
}

.cart-modal {
  grid-template-columns: 1fr 1fr 1fr !important;
}
